<footer class="bg-dark text-white text-center py-4 mt-5">
    <div class="container">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="https://wa.me/5511993331342" target="_blank" class="text-white"><i class="bi bi-whatsapp"></i> Whatsapp</a>
            </li>
        </ul>
        <p>Social Medias:</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="https://www.facebook.com/victor.buenosantanna/" target="_blank" class="text-white"><i class="bi bi-facebook"></i> Facebook</a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/Porsycs" target="_blank" class="text-white"><i class="bi bi-github"></i> Github</a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.instagram.com/vicb98/" target="_blank" class="text-white"><i class="bi bi-instagram"></i> Instagram</a>
            </li>
        </ul>
    </div>
</footer>

