<%- include('partials/header.ejs') %>
<body class="d-flex flex-column h-100">
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <header class=" text-center py-5">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <img src="/images/user.png" alt="User Image" width="15%" class="img-fluid rounded-circle mb-3">
                </div>
              <h1 class="display-4">Hi, my name is Victor</h1>
              <p class="lead">Web Developer | Fullstack Developer | Backend Developer</p>
            </div>
          </header>
        
          <section id="about" class="py-5">
            <div class="container">
              <h2 class="display-5">About Me</h2>
              <hr>
              <p>Hello! My name is Victor, I’m <%= age %> years old, and I’ve been diving into the world of programming since I was 21.
                 Originally from São Paulo, I now live in Bauru, where I completed my degree in Information Systems at UNESP Bauru.
                Currently, I work as a fullstack developer on a .NET application and am a key reference for the development team.
                 My hobby and secondary focus is JavaScript,
                 and this personal page is entirely built with Node.js.
                I hope you enjoy exploring what I’ve created here. Feel free to reach out if you have any
                 questions or just want to connect in my <a href="https://www.linkedin.com/in/vicporsy" target="_blank">Linkedin</a>.
                 <br><br><strong> Best regards!</strong></p>
            </div>
          </section>
        
          <section id="skills" class="bg-light py-5">
            <div class="container">
              <h2 class="display-5">Skills</h2>
              <hr>
              <div class="row">
                <div class="col-md-4">
                  <h4>Fullstack Developer</h4>
                  <ul class="list-unstyled">
                    <li>HTML, CSS, JavaScript, C#</li>
                    <li>Razor, Express, Jquery, Ajax</li>
                    <li>Node.js, Aspnet, .Net</li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <h4>Databases</h4>
                  <ul class="list-unstyled">
                    <li>SQLServer</li>
                    <li>MongoDB</li>
                    <li>Redis</li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <h4>Others</h4>
                  <ul class="list-unstyled">
                    <li>Git, GitHub</li>
                    <li>Docker, Jenkins, New Relic, Sentry</li>
                    <li>GooglePubsub, RabbitMQ</li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        
          <section id="experience" class="py-5">
            <div class="container">
              <h2 class="display-5">Experience</h2>
              <hr>
              <div class="accordion" id="experienceAccordion">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Support Intern - Aug/21 - Oct/21
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#experienceAccordion">
                    <div class="accordion-body">
                        As a support intern, I received and organized tickets, 
                        performed queries and views in the SQL Server database, 
                        maintained code to ensure incorrect tasks were corrected, improved performance, 
                        adjusted users and records, resolved user inquiries, and developed by collaborating on sprint tasks
                         using C# and ASP.NET for the backend and technologies such as HTML, CSS, Bootstrap, JS, jQuery
                        and Ajax for the frontend. 
                        I also had knowledge of the system and business rules, which involved truck rental and sales,
                        as well as CRM systems.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Fullstack Developer - Nov/21 - Present
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#experienceAccordion">
                    <div class="accordion-body">
                        I work as a Fullstack Web Developer, with experience in developing and maintaining applications using
                         .NET, currently serving as a reference for quality development within the company.
                          I have knowledge of messaging services such as Google Pub/Sub and RabbitMQ, ensuring efficient
                           communication between systems. I work with relational databases like SQL Server
                            and NoSQL databases like MongoDB, including their implementation in code. All communication is 
                            facilitated using Docker. I am proficient in programming languages like C# and JavaScript
                             for the frontend, and I use libraries such as Razor and jQuery to create dynamic and responsive
                              interfaces. I also work on creating RESTful APIs, ensuring that applications are scalable and
                               secure, meeting business needs and providing a high-quality user experience, always aiming for
                                the best performance and quality possible.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        
          <section id="contact" class="bg-light py-5">
            <div class="container">
                <h2 class="display-5">Contact</h2>
                <hr>
                <p>To get in touch, click the button below.</p>
                <a href="https://wa.me/5511993331342" target="_blank" class="btn btn-success"><i class="bi bi-whatsapp"></i> Whatsapp</a>
                <a href="/contact" class="btn btn-primary"><i class="bi bi-send"></i> Send E-mail</a>
            </div>
        </section>
    </div>
</body>
<%- include('partials/footer.ejs') %>   

<style>
    section {
    background-color: #f8f9fa;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
</style>